.home_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 15rem;
}

.heading_container{
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
}

.container{
   
}


.empty_list_container{
    background: #f6f8fa;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 340px;
}

.empty_list_img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.main_container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

@media screen and (max-width: 992px) {
    .home_container{
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr;
       
    }
}


@media screen and (max-width: 768px) {
    .home_container{
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}



@media screen and (max-width: 400px) {
    .home_container{
        grid-template-columns: 1fr;
    }
}



@media screen and (min-width: 992px) {
    .home_container{
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}
