.input_container{
    height: 50px;
    width: 350px;
    font-size: 18px;
    padding-left: 10px;
}

.input_label{
    font-size: 16px;
    margin: 16px 0px 8px 0px;
}

.input_icon_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.input_icon{
    position:relative;
    /* margin-left: 320px; */
}

@media screen and (max-width: 600px) {
    .input_container{
        width: 300px;
    }

   
}


@media screen and (max-width: 400px) {
    .input_container{
        width: 250px;
    }

}