.button_style{
    background-color: #f6f8fa;
    border: 1px solid #aaaaaa;
    height: 50px;
    width: 150px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.delete_button_style{
    border: 1px solid red;
    background-color: #f6f8fa;
    color: red;
    height: 50px;
    width: 150px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.button_style:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}


.delete_button_style:hover{
    cursor: pointer;
    background-color: white;
}

