.login_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-flow: row;
    align-items: center;
    height: 100vh;
}


.login_image_container{
   
}

.login_content_container{
    height: 100%;
    background-color: #f6f8fa;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_image_style{
    height: 45vw;
    width: 45vw;
}

.login_title{
    font-size: 28px;
}

.login_subtitle{
    margin: 10px 20px 0px 20px;
    text-align: center;
}

.login_heading_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_button{
    height: 50px;
    width: 370px;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 1px solid #aaaaaa;
    margin-right: 22px;
}

.login_button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .login_button{
        width: 320px;
    }
}


@media screen and (max-width: 400px) {
    .login_button{
        width: 270px;
    }
}


@media screen and (max-width: 785px) {

    .login_container{
        grid-template-columns: 1fr;
    }

    .login_image_container{
        display: none;
    }
}
