.games_card_container{
    height: 300px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f6f8fa;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.image_style{
    height: 160px;
    width: 160px;
    border-radius: 20px;
    margin-bottom: 14px;
}

.content_container{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.game_name{
    font-size: 22px;
    font-weight: 700;
}

.game_author{
    font-size: 18px;
    font-weight: 500;
}

.game_date{
    font-size: 16px;
    font-weight: 400;
}


.games_card_container:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}


@media screen and (max-width: 992px) {
    .games_card_container{
        height: 38vw;
        width: 28vw;
    }

    .image_style{
        height: 22vw;
        width: 22vw;
    }
    
}


@media screen and (max-width: 768px) {
    .games_card_container{
        height: 48vw;
        width: 38vw;
    }

    .image_style{
        height: 28vw;
        width: 28vw;
    }
    
}


@media screen and (max-width: 550px) {
    .games_card_container{
        height: 65vw;
    }

    .image_style{
        height: 28vw;
        width: 70%;
    }
}




@media screen and (max-width: 400px) {
    .games_card_container{
        width: 290px;
        height: 300px;
    }

    .image_style{
        height: 190px;
        width: 190px;
    }
}


