body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,h3,
h4,
h5{
    font-weight: 500;
    /* color: white; */
}

h5{
    /* padding-top: 1rem; */
}

h1{
    font-size: 2.5rem;
}



body{
  /* background-image: url(../src/assets/bg1.jpeg); */
  
}
