.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.card_container{
    /* border: 1px solid red; */
    background: #f6f8fa;
    border: 1px solid #aaaaaa;
    border-radius: 16px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date_container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.date_label{
    font-size: 16px;
    margin: 16px 0px 8px 0px;
}
