.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.card_container{
    background: #f6f8fa;
    border: 1px solid #aaaaaa;
    border-radius: 16px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date_container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.date_label{
    font-size: 16px;
    margin: 16px 0px 8px 0px;
}




.details_container{
    height: 400px;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    align-items: center;
    justify-content: center;
}

.read_image_style{
    height: 50%;
    width: 60%;
    border-radius: 2vw;
    margin-bottom: 14px;
}

.content_container{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.game_name{
    font-size: 22px;
    font-weight: 700;
}

.game_author{
    font-size: 18px;
    font-weight: 500;
}

.game_date{
    font-size: 16px;
    font-weight: 400;
}


.button_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



@media screen and (max-width: 550px) {
    .button_container{
        flex-direction: column;
    }

    .details_container{
        height: 350px;
    }

    .read_image_style{
        height: 40vw;
        width: 40vw;
    }
    
}


@media screen and (max-width: 400px) {
    .button_container{
        flex-direction: column;
    }

    .details_container{
        height: 320px;
    }

    .read_image_style{
        height: 50vw;
        width: 50vw;
    }
    
}
